// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* hover box */
#hoverbox{
    position: absolute;
    width: 185px;
    height: 90px;
    visibility: hidden;
}



figure, footer, header, nav, section, figcaption { display: block; }

/* Gallery images with CSS animated captions */

#imagegallery section figure {
	      position:relative;
	      float:left;
	      margin:20px;
	      width:198px;
	      height:198px;
	      border:1px solid #333;
	      overflow:hidden;
	      background: #fff;
	      padding: 1px;
}

#imagegallery section figure figcaption {
	      position:absolute;
	      bottom:0;
	      left:0;
	      opacity: .75;
	      margin-bottom:-115px;		
	      -webkit-transition: margin-bottom;
	      -webkit-transition-duration: 400ms;
	      -webkit-transition-timing-function: ease-out;
	      -moz-transition-property: margin-bottom;
  	      -moz-transition-duration: 400ms;
 	      -moz-transition-timing-function: ease-out;
 	      -o-transition-property: margin-bottom;
	      -o-transition-duration: 400ms;

}

#imagegallery section figure:hover figcaption {
	      margin-bottom:0px;
}

#imagegallery section figcaption {
	      width:200px;
	      height:115px;
	      background:#111;
	      color:#fff;
	      font-family: Arial, Helvetica, sans-serif;
}



#imagegallery section figcaption h3 {
	      margin: 15px 15px 6px 15px;
	      text-shadow: #000 0px 2px 0px;
}


#imagegallery section figcaption h4 {
	      margin: 15px 15px 6px 15px;
	      text-shadow: #000 0px 2px 0px;
}

#imagegallery section figcaption p {
	      margin: 0 15px;
	      color: #ddd;
	      line-height: 24px;
	      font-size: 14px;
	      text-shadow: #000 0px 2px 0px;
}

/* CSS animated Tabs */	

/*
#imagegallery section {
	      -webkit-transition: opacity;
	      -webkit-transition-duration: 800ms;
	      -webkit-transition-timing-function: ease-in;
	      -moz-transition-property: opacity;
	      -moz-transition-duration: 800ms;
	      -moz-transition-timing-function: ease-in;
	      -o-transition-property: opacity;
	      -o-transition-duration: 800ms;
    opacity:0;
    z-index: 9;
}

#imagegallery :target {
    opacity:1;
    z-index: 10;
}

#gal1, #gal2, #gal3 {
       position: absolute;
}
*/